* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: "Karla", sans-serif;
}

main {
    height: 100vh;
    align-content: center;
    padding-left: 60px;
    padding-right: 60px;
}

img {
    position: fixed;
    right: -15%;
    top: -15%;
    animation: blobs linear infinite 12s;
    -webkit-animation: blobs linear infinite 12s;
}

@keyframes blobs {
    from {
        transform: rotate(240deg);
        -webkit-transform: rotate(240deg);
        -moz-transform: rotate(240deg);
        -ms-transform: rotate(240deg);
        -o-transform: rotate(240deg);
    }

    to {
        transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
    }
}

section {
    text-align: center;
    color: #293264;

    h2 {
        font-size: 31.25px;
    }

    p {
        font-size: 16px;
        margin: 20px;
    }

}

button {
    cursor: pointer;
    font-family: "Inter", sans-serif;
    background-color: #4D5B9E;
    color: #F5F7FB;
    width: 193px;
    height: 52px;
    border: none;
    font-size: 16px;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
}

.questions {
    display: flex;
    flex-direction: column;

    h2 {
        color: #293264;
        font-size: 20px;
    }


    div {
        display: flex;
        flex-wrap: wrap;
        margin-top: 10px;
        gap: 10px;
    }

    label {

        cursor: pointer;
        padding: 4px 15px;
        color: #293264;
        border: 2px solid #4D5B9E;
        border-radius: 7.94px;
        -webkit-border-radius: 7.94px;
        -moz-border-radius: 7.94px;
        -ms-border-radius: 7.94px;
        -o-border-radius: 7.94px;
    }

    label.clicked {
        background-color: #D6DBF5;
    }

}

hr {
    margin: 20px 0;
    border: 1px solid #DBDEF0;
}



.img-in-qa {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    z-index: -1;
}

input {
    margin: 0 10px 0px 10px;
}

.score {
    color: #293264;
    font-size: 20px;
    font-weight: bold;
}

.result {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.right {
    background-color: green;
}

.wrong {
    background-color: red;
}